@import "tailwindcss";

:root {
  @apply min-h-dvh max-w-dvw overflow-x-clip scroll-smooth;
  --background: #e0e0e0;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}


body {
  @apply bg-background text-foreground font-sans;
}

section {
  scroll-margin-top: 80px;
}

#home {
  scroll-margin-top: 120px;
}

.slider .list .item {
  left: 100%;
  animation: autoRun var(--duration) linear infinite;
  animation-delay: calc(
    (var(--duration) / var(--quantity)) * (var(--position) - 1) * -1
  );
}

.slider_alternate .list .item {
  left: calc(100% + (var(--width) / 2));
  animation: autoRun2 var(--duration) linear infinite;
  animation-delay: calc(
    (var(--duration) / var(--quantity)) * (var(--position) - 1) * -1
  );
}

.testimonials:hover .item {
  animation-play-state: paused;
  filter: grayscale(1);
}

.testimonials .item:hover {
  filter: grayscale(0);
}

/* Horizontal marquee keyframes */
@keyframes autoRun {
  from {
    left: calc(100% + var(--width));
  }
  to {
    left: calc(var(--width) * -1.5);
  }
}
@keyframes autoRun2 {
  from {
    left: calc(100% + (var(--width) / 2));
  }
  to {
    left: calc(var(--width) * -2);
  }
}
